@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.search-input {
  font-family: 'Fira Code', 'monospace';
  text-align: center;
  margin: 10px;
  padding: 10px;
  border:0;
  border-bottom: 1px solid black;
  outline: 0;

}

.title {
  font-family: 'Fira Code', 'monospace';
  font-size: 30px;
  margin: 20px;
}